/**
 * CSS based on H5BP, slightly edited.
 * Credits to the whole H5BP team.
 * You guys rock <3
 */


/****************************************
*********** CSS Normalizing *************
*****************************************
** CSS normalizing fills the small gaps
** between browser's default stylesheets.
** This approach is better than CSS reset
** since it keeps the default styles.
****************************************/
article, aside, details, figcaption, figure, footer,header,hgroup, nav, section {
    display:block;
}
audio, canvas, video {display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]){ display: none;}
[hiden] {display: none;}

html {font-size: 100%; overflow-y:scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body {margin: 0; font-size: 13px; line-height: 1.2;}
body, button, input, select, textarea {font-family: sans-serif; color: #222;}

/* links superchared */
::-moz-selection { background: #fe57a1; color: #fff; text-shadow:none;}
::selection {background: #fe57a1; color: #fff; text-shadow: none;}
a {color: #00e;}
a:visited { color: #551a8b;}
a:hover { color: #06e;}
a:focus {outline: thin dotted;}
a:hover, a:active {outline: 0;}

abbr[title] {border-bottom: 1px dotted;}
b, strong {font-weight: bold;}
blockquote {margin: 1em 40px;}
dfn {font-style: italic;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
ins {background: #ff9; color:#000; text-decoration: none; }
mark {background: #ff0; color:#000; font-style: italic; font-weight: bold;}


body{
    font: 16px/1.4 sans-serif;
    background-color: #fff;

    background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjYnIGhlaWdodD0nMzMnPgoJPGRlZnM+CgkJPGcgaWQ9J2xpbmVzJz4KCQkJPGxpbmUgeDE9JzAnIHkxPScwJyB4Mj0nMTMuMicgeTI9JzE2LjUnIHN0cm9rZS13aWR0aD0nMScgc3Ryb2tlPScjZjZmNmY2Jy8+CgkJCTxsaW5lIHgxPSc5LjknIHkxPScwJyB4Mj0nMjMuMScgeTI9JzE2LjUnIHN0cm9rZS13aWR0aD0nMScgc3Ryb2tlPScjZmNmY2ZjJy8+CgkJCTxsaW5lIHgxPScxOS44JyB5MT0nMCcgeDI9JzMzJyB5Mj0nMTYuNScgc3Ryb2tlLXdpZHRoPScxJyBzdHJva2U9JyNmOWY5ZjknLz4KCQk8L2c+Cgk8L2RlZnM+Cgk8cmVjdCB4PSctMTAlJyB5PSctMTAlJyB3aWR0aD0nMTIwJScgaGVpZ2h0PScxMjAlJyBmaWxsPScjZmZmZmZmJy8+Cgk8dXNlIHhsaW5rOmhyZWY9JyNsaW5lcycgeD0nMzMnIHk9JzE2LjUnIC8+Cgk8dXNlIHhsaW5rOmhyZWY9JyNsaW5lcycgeD0nMzMnIHk9Jy0xNi41JyB0cmFuc2Zvcm09J21hdHJpeCgxIDAgMCAtMSAwIDApJy8+Cgk8dXNlIHhsaW5rOmhyZWY9JyNsaW5lcycgIC8+Cgk8dXNlIHhsaW5rOmhyZWY9JyNsaW5lcycgeD0nMCcgeT0nLTMzJyB0cmFuc2Zvcm09J21hdHJpeCgxIDAgMCAtMSAwIDApJy8+ICAKPC9zdmc+');
}
h1, h2, h3, h4, h5, h6{
    font-family: 'PT Serif', Georgia, 'Microsoft YaHei', serif;
}
/* h1{
    text-align: center;
} */

header, footer{
    font-family: 'PT Serif', Georgia, 'Microsoft YaHei', serif;
    font-size: 12px;
    text-align: center;
    color: #222; 
}

footer{
    font-weight: bold;
    padding: 9px;
    border-bottom: 5px #222 solid;
}
footer h1{ font-size: 40px;line-height: 40px; margin: 0;}

footer a:visited{color:#222;}

footer p {margin: 0;}

/* main section */
#main{
    width:680px;
    margin: 60px auto;
}

.nav-container{
    text-align: center;
    border-top: 5px #222 solid; 
 
}

.nav-link{
    color: #222; /* 链接字体颜色，这段注释可删*/
    font-family: 'PT serif', Georgia,'Microsoft YaHei',sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin: -1px 9px 0 9px;
    background: #fff;
    display: inline-block;
    padding: 12px  24px;
    font-size: 24px;
    border-radius: 0 0 4px 4px;
    border: 1px #222 solid;
    transition-property: background-color, color, text-shadow;
    transition-duration: .3s;
    
}

.nav-link:visited{ color: #222;} /*就是没变*/

.nav-link:hover,
.nav-link:active{
    color: #fff;
    background-color: #444;
    text-shadow: 0 -2px #222;
    transition-property: background-color, color, text-shadow;
    transition-duration: .3s;
}

.title {
    font-size: 40px;
    font-weight: bold;
    font-family: 'PT Serif', Georgia, 'Microsoft YaHei', serif;
}

.homepage-title{
    margin-bottom: 9px;
}

p.intro{
    font-family: 'PT Serif', Georgia, 'Microsoft YaHei', serif;
    margin-top: -100px;
    font-size: 24px;
    margin-bottom: 18px;
    width: 420px;
    padding-left: 260px;
    padding-top: 100px;
    background: transparent url('dark2.png') bottom left no-repeat ;
    
}

p.social{
    clear: both;
    text-align: center;
    padding: 18px;
    margin: 0 0 18px 0;
    border-top: 1px #333 solid;
    border-bottom: 1px #333 solid;
}

.social a{
    display: inline-block;
    width: 88px;
    height: 54px;
    margin: 0 9px;
}

.social a span{
    display: none;
}

.social .github{
    background: transparent url('social-github.png') top center no-repeat;    
}

.social .weibo{
    background: transparent url('social-weibo.png') top center no-repeat;    
}

.social .steam{
    background: transparent url('social-steam.jpg') top center no-repeat;    
}

/* link styles */
a.content-link,
a.content-link:visited{
    color: #222;
    padding: 2px 4px;
    border-radius: 4px;
}

a.content-link:hover{
    text-decoration: none;
    color: #fff;
    background: #444;
}